section {
    height: 100%;
    display: flex;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}
input {
    background-color: #1a1a1a;
    padding: 5px;
    border: 1px solid  #ffc5d3;
    width: 50vh;
}
textarea {
    background-color: #1a1a1a;
    resize: none;
    height: 400px;
    width: 50vh;
    padding: 5px;
    border: 1px solid  #ffc5d3;
}
.submit {
    background-color: #1a1a1a;
    border: 1px solid  #ffc5d3;
    color: white;
    padding:5px ;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    font-size: 30px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Ok {
    width: 60vh;
    height: 60vh;
    border: 1px solid  #ffc5d3;
    padding: 30px;
    border-radius: 25px;
    gap:20px

}

.submit:hover{
    color:white;
    border: 1px solid white;
    
}

.socials {
    font-size: 40px;
    gap: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;

}